*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: gray; */
}
.mainContainer{
    min-height: 80vh;
}

.authForm{
    /* background-color: rgb(159, 228, 69); */
    margin-top: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* for google maps  */
.mapContainer{
    margin-top: 2rem;
    height: 60vh;
    width: 80vw;
}


@media screen and (max-width: 600px) {
    *{
      font-size: large;
    }
}